table {
    border-radius: 3cqmax;
    margin: auto;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: separate;
    border-spacing: 10px;
    background-color:lavender;
    box-shadow: 40%;
}

body{
    background-color:azure;
}

h1, h2{
    text-align: center;
}

h3{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}